html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

.main_container {
    max-width: 1140px;
    margin: 0 auto;
    /* font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif; */
}

.main_container::after {
    clear: both;
    display: table;
    content: '';
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

[class*="col-"] {
    width: 100%;
}


/* header start now  */

#header {
    background-color: rgb(15, 129, 120);
    padding: 1% 7%;
    text-align: center;
}

.header_img a img {
    border-radius: 50%;
    width: 150px;
    border: 5px solid rgb(49, 218, 195);
    padding: 5px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: block;
}

.nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: aqua;
    transition: 0.3s;
}

.nav ul li a:hover {
    background-color: gray;
    color: white;
    transform: scale(1.1);
}


/* header end now  */


/* banner section start now */

#banner-section {
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.contant {
    padding: 170px 50px;
    text-align: center;
}

.contant h2 {
    font-size: 2.0rem;
    width: 100%;
    margin: 25px auto;
    color: black;
    background-color: yellow;
    padding: 10px 15px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    border-radius: 10px;
}

.contant p {
    background-color: darkgreen;
    color: white;
    margin: 25px auto;
    width: 250px;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
}

#btn {
    padding: 10px 15px;
    margin: 10px;
    background-color: rgba(23, 170, 43, 0.5);
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#btn:hover {
    background-color: rgba(23, 170, 43, 1);
    transform: scale(1.2);
}


/* banner section start now */


/* about section start now */

.about_contant {
    padding: 15px;
    text-align: center;
}

.about_contant h2 {
    font-size: 2.0rem;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.about_contant h2:before {
    content: '';
    width: 70px;
    height: 20px;
    border-bottom: 7px dotted rgb(94, 94, 94);
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about_contant p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}


/* about section start now */


/* menu section starts now */

.menu-content {
    text-align: center;
    padding: 40px 20px;
    transition: 0.5s;
    margin-bottom: 30px;
}

.menu-content:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.menu-img img {
    /* border-radius: 10px; */
    border: 2px solid black;
    padding: 2px;
    display: block;
}

.desc {
    background: gray;
    padding: 10px 0px 20px 0px;
}

.desc h3 {
    color: white;
    background: green;
    padding: 10px;
    font-size: 28px;
    margin-bottom: 10px;
}

.desc p {
    color: white;
    font-size: 20px;
    line-height: 30px;
}


/* menu section starts now */


/* contact section starts now */

#contact {
    background-color: #595B83;
}

.google_maps {
    padding: 25px;
}

.maps {
    width: 100%;
    height: 300px;
}

.my-contact {
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    border-left: 1px solid black;
}

.my-contact h3 {
    padding: 15px;
    font-size: 1.9rem;
}

.my-contact p {
    line-height: 22px;
    margin-bottom: 25px;
    font-size: 14px;
}

.my-contact p a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.1px;
}

.my-contact strong {
    margin-bottom: 3px;
    display: block;
    font-size: 20px;
}


/* contact section starts now */


/* footer starts now */

footer#footer {
    background: #060930;
    color: white;
    padding: 15px;
    text-align: center;
}

.f_dec span {
    font-size: 15px;
    font-family: 'Montserrat';
    margin: 20px;
    display: block;
}

.social-link a {
    width: 30px;
    height: 30px;
    color: white;
    text-decoration: none;
}

.social-link a .fab {
    transition: 0.3s;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px;
}

.social-link a .fab:hover {
    background-color: #8551c0;
    transform: scale(1.1);
}


/* footer ends now */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }





  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}